@model DAL.Modelos.Usuarios

@{
    var mensajeRegistroExitoso = ViewBag.MensajeRegistroExitoso as string;
}

<div class="contenedor form-login">
    <p class="titulo">Bienvenido</p>
    <form class="form" method="post" action="@Url.Action("InicioDeSesion", "ControladorIniciarSesion")">
        <input type="email" name="email_usuario" class="input" placeholder="Email">
        <input type="password" name="clave_usuario"  class="input" placeholder="Contraseña">
        <button type="submit" class="form-btn">Acceder</button>
        <button class="form-btn" formaction="@Url.Action("Registro", "ControladorRegistro")">Registrarse</button>
        <button class="form-btn negro" formaction="@Url.Action("irARecuperarContraseña", "ControladorRecuperarContraseña")">Recuperar contraseña</button>
    </form>
</div>
@if (!string.IsNullOrEmpty(mensajeRegistroExitoso))
{
    <div class="alert alert-success">
        @mensajeRegistroExitoso
    </div>
}


@if (!string.IsNullOrEmpty(ViewBag.MensajeLoginError))
{
    <div class="alert alert-danger">
        @ViewBag.MensajeLoginError
    </div>
}